/browserpass
/browserpass-*
/private-release
*.crx
*.log
*.pem
chrome-*
firefox-*
release
firefox/*
!firefox/host.json
!firefox/manifest.json
chrome/background.js
chrome/script.js
chrome/options.js
node_modules
.vagrant/
vendor/
.*.swp
