body{
  font-size: 13px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#content{
  display: block;
}

.status-text {
  width: 320px;
  padding: 6px;
}

.usernames {
  width: 160px;
}

.favicon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.username {
  display: block;
  padding: 6px;
  cursor: pointer;
}

.username:hover {
  background: #efefef;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  text-indent: -9999999px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-left-color: #000000;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-bottom: 3px;
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
