body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  min-width: 280px;
  background: white;
}

.search input {
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  border: 0;
  border-bottom: 1px solid #bbb;
  background: url( "icon-search.png") center right 6px no-repeat;
  background-size: 16px 16px;
  padding-right: 20px;
}

.search input:focus {
  outline: 0;
}

.status-text {
  padding: 6px;
}

.results {
  width: 100%;
  min-width: 160px;
}

.login {
  display: block;
  box-sizing: border-box;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 12px 6px 12px 32px;
  cursor: pointer;
  border: 0;
  border-bottom: 1px dotted #ccc;
  text-align: left;
  background: no-repeat url('icon-key.png') left 8px center;
  background-color: white;
  background-size: 16px 16px;
  line-height: 1.2;
}

.login:last-of-type{
  border-bottom: 0;
}

.login:hover,
.login:focus {
  outline: 0;
  background-color: #eee;
}


.username,
.file {
  display: block;
}

.username {
}

.file {
  color: #888;
  font-size: 12px;
}

.loader {
  margin: 3px auto;
  display: block;
  text-indent: -9999999px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-left-color: #000000;
  -webkit-transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: middle;
  width: 12px;
  height: 12px;
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
